body {
  max-width: 1280px;
  margin: auto;
  color: white;
  background: url('../wallpaper/formbackground.jpg');
  background-size: cover;
  height: 100%;
}

.black {
  color: black;
}
.white {
  color:white;
  text-decoration: none;
}

.link:link {
  text-decoration: none;
}

.flex {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 5em;
}

.formulaireweather {
  margin-top: 5em;
}

@media (max-width : 600px) {
  .meteo {
    width: 40%;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .meteo {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .meteo {
    width: 20%;
  }
}

.meteo {
  margin-right: 1em;
  margin-bottom: 1em;
}

.meteo img {
  width: 2em;
  height: 2em;
}

.center {
  text-align: center;
}

.addmore {
  margin-top: 5em;
}
